<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ssfunc4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bc1b4b19-775e-4884-9118-1b554707e90a/resourceGroups/DataBricksDemoRGSouthIndia/providers/Microsoft.Web/sites/ssfunc4</ResourceId>
    <UserName>$ssfunc4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ssfunc4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>